<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        #through {
            color: green;
        }
        
        #block {
            color: red;
        }
    </style>
</head>

<body>
    WAffle's Dashboard<br>
    <a href="log">log</a><br>
    <p>
        <span id="through">through: {{ through_len }}</span>
    </p>
    <p>
        <span id="block">block  : {{ block_len }}</span>
    </p>
</body>

</html>