<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>logs</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        
        dl {
            margin: 0;
            padding: 1%;
            width: 48%;
            overflow-x: scroll;
            white-space: nowrap;
        }
        
        #through {
            float: left;
            background: #98fb98;
        }
        
        #block {
            float: left;
            background: #fa8072;
        }
    </style>
</head>

<body>
    <dl id="through">
        <p>through log</p>
        <hr> {% for i in through_req %}
        <dd>{{ i }}</dd>
        {% endfor %}
    </dl>
    <dl id="block">
        <p>block log</p>
        <hr> {% for i in block_req %}
        <dd>{{ i }}</dd>
        {% endfor %}
    </dl>
</body>

</html>