<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>logs</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        dl {
            margin: 0;
            padding: 1%;
            width: 48%;
            overflow-x: scroll;
            white-space: nowrap;
        }

        #through {
            float: left;
            background: #98fb98;
        }

        #block {
            float: left;
            background: #fa8072;
        }
    </style>
</head>

<body>
    <dl id="through">
        <p>through log</p>
        <hr>
        <div id="tlog"></div>
    </dl>
    <dl id="block">
        <p>block log</p>
        <hr>
        <div id="blog"></div>
    </dl>
    <script>
        through = [{{ through_req | safe }}];
        tlog = document.getElementById("tlog");
        for (i = 0; i < through.length; i++) {
            msg = "<dd>"
            for (const [key, value] of Object.entries(through[i])) {
                msg += (`[${key}]="${value}", `);
            }
            msg = msg.slice(0, msg.length-2)
            tlog.innerHTML += msg + "</dd>"
        }
        block = [{{ block_req | safe }}];
        blog = document.getElementById("blog");
        for (i = 0; i < block.length; i++) {
            msg = "<dd>"
            for (const [key, value] of Object.entries(block[i])) {
                msg += (`[${key}]="${value}", `);
            }
            msg = msg.slice(0, msg.length-2)
            blog.innerHTML += msg + "</dd>"
        }

    </script>
</body>

</html>